<!DOCTYPE html>
<html>
<head>
    <title>Home - Apex Ascend Demo</title>
    <link rel="stylesheet" href="/assets/styles/main.css">
</head>
<body>
<div class="container">
        <h1>Welcome to Apex Ascend Demo</h1>
        <div class="button-group">
            <a href="/createAccount" class="button primary-button">Create Account</a>
            <a href="/getAccount" class="button primary-button">Get Account</a>
            <a href="/legalNaturalPerson" class="button primary-button">Legal Natural Person</a>
            <a href="/bankRelationship" class="button primary-button">Create Bank Relationship</a>
        </div>
</div>
</body>
</html>